@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.main-content__top {
  position: fixed;
  top: 0;
  margin-left: -15px;
  width: calc(100% - 277px);
  height: 60px;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 1000;
}

.main-content__title {
  font-size: 1.4em;
  margin: 15px 0 15px 15px;
  border-bottom: none;
}

.main-content__body {
  margin-top: 80px;
}

h5 {
  margin: 20px 0px;
}

.form-group-container {
  flex: 1;
  flex-direction: row;
}

.form-group {
  float: left;
  margin-right: 30px;
}

.form-group label {
  font-weight: bold;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.user-subordinates ul li {
  display: inline;
  margin-right: 30px;
}

.main-content__body h5 {
  text-decoration: underline;
}

.user-projects {
  display: flex;
  flex-direction: row;
}

.user-projects li {
  margin-bottom: 5px;
}

.user-projects .list-projects-container {
  width: 200px;
  margin-right: 100px;
}